body{
    font-family:Georgia, 'Times New Roman', 'Liberation Serif', Times, serif;
    margin-left: 50px;
}
.genhead{
    clear: left;
}
.mon{
    width: 115px;
    height: 135px;
    background-color: #EEE;
    margin: 10px;
    padding: 5px;
    display: block;
    float: left;
    text-align: center;
    font-size: small;
    user-select: none;
    cursor: pointer;
}
.mon img{
    width: 80px;
    height: 80px;
    pointer-events: none;
}

.sUnlimited{
    background-color: #AEA;
}
.sUnlimitedEvolution{
    background-color: #7B7;
}
.sLimited{
    background-color: #AEE;
}
.sLimitedEvolution{
    background-color: #7BB;
}
.sChoice{
    background-color: #EEA;
}
.sChoiceEvolution{
    background-color: #BB7;
}
.sTrade{
    background-color: #EAA;
}
.sUnavailable{
    background-color: #333;
    color: #FFF;
}
.sFuture{
    display: none;
}
.sCaptured{
    opacity: 20%;
}
.check{
    font-size: 80pt;
    position: absolute;
    width: 115px;
    text-align: center;
    display: none;
}
dt{
    width: 10em;
}
dd{
    margin-bottom: 0.7em;
}


#counts div{
    float: left;
    width: 100px;
    padding: 5px;
    margin: 10px;
}
#counts div p{
    text-align: right;
    margin: 0;
}

/* menu buttons */
#leftmenu{
    background-color: #EEE;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 29px;
    padding: 0 5px;
    border-right: 1px #000 solid;
    text-align: center;
}
#leftmenu button{
    background-color: #DDD;
    border: 2px #DDD outset;
    cursor: pointer;
}
button img{
    vertical-align: top;
}
.btndown {
    background-color: #333 !important;
    color: #FFF;
    border-color: #333;
}
summary{
    cursor: pointer;
}

/* Breeding notices */
#nobreeding, #noditto{
    display: none;
    float: left;
    border: 2px solid #A00;
    margin: 10px;
    padding: 3px;
    max-width: 30em;
}